doctype html
html(lang="en")
  head
    title Static Files
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method="POST", action="/file/upload", enctype="multipart/form-data")
      input(type="file", name="file")
      input(type="input", name="question" value='pen')
      input(type="submit")